#splash
  #poster
  %aside
    %navigation.personas
      %ul
        %li
          = link_to "Prospective Students", about_courses_admissions_path
        %li
          = link_to "Current Students", about_courses_core_skills_path
        %li
          = link_to "Alumni", alumni_path
        %li
          = link_to "Reporters and Visitors", about_path

    #announcement
      Now accepting new students for August!
      = link_to image_tag("button-learn-more.png"), about_courses_admissions_path

#intro
  %h2 Education Re-imagined

  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae purus ut sapien vehicula ullamcorper. Integer id risus vel libero vehicula bibendum eget ac elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tincidunt, mauris quis porta dictum, odio mauris consequat metus, nec imperdiet felis lectus eu mi. Aenean ac lacus lectus, ac venenatis nibh. Nulla vel nibh erat. Vivamus commodo, dui sed eleifend sollicitudin, dolor odio eleifend tellus, iaculis pretium odio lorem sit amet sem. Nulla facilisi. Proin urna nunc, lacinia in sagittis non, ultrices ac purus. Pellentesque vel purus est. Morbi hendrerit turpis sed elit rhoncus vel luctus massa pulvinar. Donec non eros vitae est iaculis mollis.