%section#content
  %h3 Projects

  %p Much of our current work is specific to Mendicant University, but may still be of interest to folks running online courses. Active projects include:

  %ul
    %li
      = link_to "PuzzleNode", "https://github.com/rmu/puzzlenode"
      \- Quiz application inspired by Project Euler and the Internet Problem Solving Contest (IPSC)
    %li
      = link_to "University Web", "https://github.com/rmu/university-web"
      \- Course administration and student management web app
    %li
      = link_to "Ivory Tower", "https://github.com/rmu/ivory_tower"
      \- Tower defense game for exploring design ideas and other fun stuff.
    %li
      = link_to "Scheduler", "https://github.com/rmu/scheduler"
      \- Utility for scheduling meetings (MIT License)
    %li
      = link_to "Mendibot", "https://github.com/rmu/mendibot"
      \- IRC bot which among other things posts chat transcripts to