= render "sidebar"

%section#content
  %h3 Staff

  %p Mendicant University was founded by Gregory Brown (#{ link_to "@seacreature", "http://twitter.com/seacreature" }), author of the book #{ link_to "Ruby Best Practices", "http://rubybestpractices.com/" } and original author of the popular PDF generation library #{ link_to "Prawn", "http://prawn.majesticseacreature.com/" }. Gregory hopes that Mendicant University will serve as a good example of what can happen when the ideas behind the Free Software Movement are applied to education.

  %p Jordan Byron (#{ link_to "@Jordan_Byron", "http://twitter.com/jordan_byron" }) serves as Mendicant University's technical coordinator, and is the maintainer of our classroom administration software, #{ link_to "university-web", "https://github.com/rmu/university-web" }. In addition to working alongside Gregory doing consulting work through #{ link_to "Madriska", "http://madriska.com/" }, Jordan volunteers his time working on CT Mission of Mercy's #{ link_to "clinic management system", "https://github.com/jordanbyron/mission_of_mercy" }.

  %p Jia Wu is Mendicant University's administrative coordinator, and assists with various miscellaneous tasks that would otherwise be neglected by Jordan and Gregory. Jia is a post-doctoral psychology researcher at the Yale Child Study Center, where she works on developing software for experiments as well as statistical programming for brain wave analysis. Jia is also Gregory's wife, and is responsible for tearing him away from the computer every once in a while.

  %p Shane Emmons (#{ link_to "@semmons99", "http://twitter.com/semmons99" }) joined our staff in June 2011, and is the first teacher at Mendicant University who is also an alumnus. Shane is active in the open source community as a maintainer of the #{ link_to "RubyMoney", "https://github.com/RubyMoney" } projects and the author of #{ link_to "cashrb", "https://github.com/semmons99/cashrb" }.