!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant University


    %meta{:name=>"viewport", :content=>"width=1050"}
    = render "layouts/javascript"
    = render "layouts/css"
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    %header
      = link_to root_path do
        %h1#logo= "Mendicant University"
      = render "shared/navigation"
    #main
      = yield
    = render "shared/footer"